*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #afd3f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  text-align: center;
}
h1 {
  margin-bottom: 20px;
  font-size: 2em;
}
.array-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  margin: 20px 0;
}

  .bar {
  width: 20px;
  display: inline-block;
  margin: 0 2px;
  position: relative;
  background-color: #3498db; 
}

.bar-number {
  position: absolute;
  bottom: -20px; 
  width: 100%;
  text-align: center;
  color:black;
  font-size: 12px;
}
.controls {
  margin-top: 20px;
}
button {
  margin: 5px;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
}
button:hover {
  background-color: #2980b9;
}
button {
  margin: 5px;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
}
button:hover {
  background-color: #2980b9;
}
#description-container {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #3498db;
  border-radius: 5px;
  background-color:#2980b9 ;
  text-align: center;
}

#algorithm-description {
  font-size: 16px;
  color: #333;
}